[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "==4.6.0.66"
cvlib = "==0.2.7"
matplotlib = "==3.5.3"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.8"
